{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Create Placement Drive</h2>

<div class="card shadow-sm">

<div class="card-body">

<form method="POST">

<div class="mb-3">
<label class="form-label">Job Title</label>
<input type="text" class="form-control" name="job_title" required>
</div>

<div class="mb-3">
<label class="form-label">Job Description</label>
<textarea class="form-control" name="job_description" rows="3"></textarea>
</div>

<div class="mb-3">
<label class="form-label">Eligibility</label>
<input type="text" class="form-control" name="eligibility">
</div>

<div class="row">

<div class="col-md-6">
<div class="mb-3">
<label class="form-label">Package</label>
<input type="text" class="form-control" name="package" placeholder="Eg: 12 LPA">
</div>
</div>

<div class="col-md-6">
<div class="mb-3">
<label class="form-label">Location</label>
<input type="text" class="form-control" name="location">
</div>
</div>

</div>

<div class="mb-3">
<label class="form-label">Application Deadline</label>
<input type="date" class="form-control" name="deadline">
</div>

<button class="btn btn-primary">

Create Drive

</button>

<a href="/company-dashboard" class="btn btn-secondary ms-2">

Back

</a>

</form>

</div>

</div>

{% endblock %}