{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow-lg">

<div class="card-body p-4">

<h3 class="text-center mb-4">Student Registration</h3>

<form method="POST">

<div class="mb-3">
<label class="form-label">Full Name</label>
<input class="form-control" name="full_name" required>
</div>

<div class="mb-3">
<label class="form-label">Email</label>
<input type="email" class="form-control" name="email" required>
</div>

<div class="mb-3">
<label class="form-label">Phone</label>
<input class="form-control" name="phone">
</div>

<div class="mb-3">
<label class="form-label">Branch</label>
<input class="form-control" name="branch">
</div>

<div class="mb-3">
<label class="form-label">Password</label>
<input type="password" class="form-control" name="password" required>
</div>

<div class="d-grid">
<button class="btn btn-primary">Register</button>
</div>

</form>

<hr>

<p class="text-center">
Already have an account?
<a href="/login">Login</a>
</p>

</div>
</div>

</div>

</div>

{% endblock %}